@font-face {
	font-family: ColangoSans;
	src: url(colango_fonts/ColangoSansWeb.woff2) format("woff2"),
		url(colango_fonts/ColangoSansWeb.woff) format("woff"),
		url(colango_fonts/ColangoSansWeb.ttf) format("truetype"),
	font-weight: 400;
	font-style: normal
}

/* 应用到正文 */
body {
    font-family: 'ColangoSans' !important;
    font-size: 100%;
    line-height: 1.5 !important; /* 增加行高，防止文字拥挤 */
}
 
/* 应用到标题 */
h1, h2, h3, h4, h5, h6 {
    font-family: 'ColangoSans'  !important;
}

/* 关闭版本显示 */
.rst-versions {
    display: none !important;
}

/* ## 如何设置 Read the Docs 段落的全局字体放大到120% */
/* 方法一：针对所有段落标签 (精准控制) */
/* .rst-content p { */
/*     font-size: 110% !important; */ /* 放大到默认的 120% */
/*     line-heght: 1.7 !important; */ /* 增加行高，防止文字拥挤 原文推荐 1.8 */
/* } */
/* 方法一：针对所有段落标签 (精准控制) */
.rst-content p {
    font-size: 120% !important; /* 放大到默认的 120% */
    line-height: 1.7 !important; /* 增加行高，防止文字拥挤 */
}

/* 关闭版本显示 */
/*
.rst-versions {
    display: none !important;
}
*/

/* 针对所有代码块增加字体大小 */
/*pre, code, div.highlight pre {
    font-size: 1.2em !important;
}
*/
pre, code, div.highlight pre {
    font-size: 100% !important;
}


/* source/_static/custom.css */
blockquote {
    /* 无效： font-family: ColangoSans !important; */
    font-size: 12px; /* 将引用块字体设置为18像素 */
    line-height: 0.6; /* 1.6 */
    /* font-style: normal;
    text-align: right; */
    border-left: 0px solid #ccc; /* 4，左侧灰色边框 */
    margin: 0.2em 2px;  /* 1.5em 10px  外框：上下‌外边距 [px​​：‌左右‌外边距] */ 
    padding: 0em 10px;  /* 0.5em 10px 框内：上下‌内边距 [px​​：‌左右‌内边距] */
    background-color: #f9f9f9; /* 浅灰色背景 */
    color: #555;  /* color: #555; */
}



/* _static/custom.css */

/* 针对所有 Mermaid 图表中的文本元素 */
.mermaid text {
    font-size: 18px !important;
}

/* 如果需要更精细的控制，可以针对特定类 */
.mermaid .node text {
    font-size: 24px !important;
}

.mermaid .edgeLabel text {
    font-size: 24px !important;
}
 
.mermaid .labelFontSize text {
    font-size: 24px !important;
}
