@font-face {
	font-family: ColangoSans; !important;
	src: url(colango_fonts/ColangoSansWeb.woff2) format("woff2"),
		url(colango_fonts/ColangoSansWeb.woff) format("woff"),
		url(colango_fonts/ColangoSansWeb.ttf) format("truetype"),
	font-weight: 400;
	font-style: normal
}

html {
    font-family: 'ColangoSans'
    font-size: 130%; /* 默认通常是 16px，调整为 110% 可整体放大 */
}


/* 应用到正文 */
body {
    font-family: 'ColangoSans'; !important;
    /* font-family: 'ColangoSans' !important;  */
    font-size: 130%;
    /* line-height: 1.7;  */
    line-height: 1.8;
    /* line-height: 1.5 !important;  */
}

/* 调整标题字体大小（可选） */
h1, h2, h3, h4, h5, h6 {
    font-family: 'ColangoSans'; !important;
}

/*
h2 {
    font-size: 2em !important;
}
*/

/* 调整代码块字体大小 */
pre, code {
   font-family: 'ColangoSans'; !important;
}
