@font-face {
	font-family: ColangoSans;
	src: url(colango_fonts/ColangoSansWeb.woff2) format("woff2"),
		url(colango_fonts/ColangoSansWeb.woff) format("woff"),
		url(colango_fonts/ColangoSansWeb.ttf) format("truetype"),
	font-weight: 400;
	font-style: normal
}

/* 应用到正文 */
body {
    font-family: 'ColangoSans' !important;
    font-size: 100%;
    line-height: 1.5 !important; /* 增加行高，防止文字拥挤 */
}
 
/* 应用到标题 */
h1, h2, h3, h4, h5, h6 {
    font-family: 'ColangoSans'  !important;
}




/* ## 如何设置 Read the Docs 段落的全局字体放大到120% */
/* 方法一：针对所有段落标签 (精准控制) */
/* .rst-content p { */
/*     font-size: 110% !important; */ /* 放大到默认的 120% */
/*     line-heght: 1.7 !important; */ /* 增加行高，防止文字拥挤 原文推荐 1.8 */
/* } */
/* 方法一：针对所有段落标签 (精准控制) */
.rst-content p {
    font-size: 120% !important; /* 放大到默认的 120% */
    line-height: 1.7 !important; /* 增加行高，防止文字拥挤 */
}

/* 关闭版本显示 */
/*
.rst-versions {
    display: none !important;
}
*/
